.back{
    position: fixed;
    background-color: black;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    z-index: 3;
}

.profileInfo{
    width: 100vw;
    position: relative;
}

.portadaProfile{
    width: 100%;
    z-index: 0;
}
.portadaProfile img{
    width: 100%;
    height: 350px;
    object-fit:cover;
}

.profileDesc{
    width: 86vw;
    display: flex;
    background-color: white;
    border-radius: 10px;
    top:300px;
    transform: translateX(-1vw);
    padding-bottom: 2rem;
    box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
}

#editLayout{
    position: absolute;
    right: 1rem;
    top:1rem;
    border-style:none;
    background-color: rgb(65, 65, 248);
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: .5rem 1.3rem;
}

#editLayout:hover{
    background-color: rgb(99, 99, 255);
    transform: translateY(-2px);
    transition: all .5s;
}

.photoUser{
    position: relative;
    width: 18vw;
    margin-left: 1rem;
    height: 130px;
}

.photoUser img{
    position: relative;
    bottom: 6vh;
    width: 16vw;
    height: 16vh;
}

.userDesc{
    width: 34vw;
    margin-top: 1rem;
    margin-left: 1.5rem;
    text-align: left;
}

.userDesc button{
    background-color: transparent;
    color: rgb(182, 182, 182);
}

.userDesc-cont{
    text-align: center;
    display: flex;
}

.followsLayout{
    position: absolute;
    max-height: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow-y: scroll;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(168,168,168,0.75);
}

label{
    color: rgb(182, 182, 182);
}

.people-header{
    background-color: rgba(65,65,248,0.75);
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
}

.people-header p{
    margin-top: 10px;
}
.people-header button{
    position: absolute;
    height: 0px;
    top:1px;
    right: 5px;
    background-color: transparent;
    color: white;
}

.people{
    
    border-bottom: 1px solid black;
    padding: .8rem 2rem 2rem;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}


#followsButton{
    position: relative;
    margin-top: 0;
}
.people img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.people p{
    font-weight: 600;
}
.people label{
    margin-top: 0;
}

.followsLayout::-webkit-scrollbar{
    background-color: transparent;
    width: 4px;
}

.followsLayout::-webkit-scrollbar-thumb{
    background-color: rgba(168,168,168,0.75);
    border-radius: 10px;
}

#followsButton{
    background-color: transparent;
    left: 0;
}

.description{
    margin-top: 1.2rem;
    font-weight: 600;
}

.editProfile{
    position: fixed;
    z-index: 4;
    top: 20%;
    left: 50%;
    background-color: white;
    transform: translateY(-30%);
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 0rem 2rem;
}

.editProfile button{
    padding: .5rem 1rem;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    margin: 2rem;
    box-shadow: 0px 1px 4px -1px rgba(65,65,248,0.75);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(65,65,248,0.75);
    -moz-box-shadow: 0px 1px 4px -1px rgba(65,65,248,0.75);
}

.form-group{
    position: relative;
    text-align: left;
    margin-top: 50px;

}

.form-group input{
    width: 100%;
    padding: .5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(65, 65, 248);
    outline: none;
}

.form-group label{
    position: absolute;
    top:-25px;
    left: -20px;
}

.explore{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.explore input{
    padding: .5rem .7rem;
    outline: none;
    background-color: rgb(247, 247, 247);
    border:1px solid transparent;
    border-radius: 25px;
}

.explore button{
    background-color: transparent;
    cursor: default;
}

@media screen and (max-width: 935px) {

    .profileInfo{
       display: block;
    }

    .photoUser{
        width: 100%;
        && img{
            width: 180px;
            height: 180px;
            margin: 0 auto;
        }
        margin-left: 0rem;
    }

    .editProfile{
        position: relative;
    }

    .userDesc{
        width: 50%;
        margin: 0 auto;
        display: block;    
    }

    .userDesc-cont{
        margin-top: 1.5rem;
        text-align: center;
        display: block;
    }

    .profileDesc{
        display: block;
    }

    .explore{
        position: relative;
        margin-top: 3rem;
        left: .4rem;
        bottom: 0rem;
    }

    #editLayout{
        position: relative;
        right: 0rem;
    }

    .description{
        text-align: center;
    }

}

