.navTweeter{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: .1px solid rgba(128,128,128,0.75);
}

.navTweeter > img{
    width: 40px;
    margin-left: 1rem;
    object-fit: contain;
}

.navButtons{
    margin: 0 auto;
}

.navButtons button{
    width: 170px;
}

.navButtons button, .navUser button{
    background-color: transparent;
    border: transparent;
    font-weight: 600;
}

.navButtons button:hover, .navUser:hover{
    cursor: pointer;
    color: rgb(65, 65, 248);
    transition: all .3s;
}

.navUser{
    margin-right: 1rem;
    right: 1rem;
}

.navUser img{
    height: 60px;
    width: 70px;
    margin-left: 1rem;
    object-fit: contain;
}
.navUser button{
    cursor: default;
}

@media screen and (max-width: 785px) {
    .navButtons button{
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .navButtons button{
        display: block;
    }
}