@font-face {
  font-family: 'arista';
  src: url("./fonts/Roboto-Light.ttf") 

}

* img{
  object-fit: cover;
}

* button{
  border: none;
  outline: none;
}

.App {
  text-align: center;
  overflow-x: hidden;

}

.App p{
  font-family: arista;
}